@import url('../css/fontface.css');

body{
    font-family: 'poppinsregular';
}

.header-outer{
    background: url(/images/banner-bg.webp) no-repeat 0 0;
    background-size: cover;
    padding: 10px 0;
}

.header-top-nav{
    margin-top: 15px;
    font-size: 14px;
   
}
.header-top-nav li a.nav-link{
    color: #fff;
    padding: 0 10px;
    line-height: 24px;
    margin-right: 10px;
}

.header-top-nav li a.nav-link.redeem{
    border: 1px solid yellow;
    border-radius: 20px;
}

#header-right-icon ul{
    margin-top:15px;
}

#header-right-icon ul li{
    margin-left: 15px
}

#header-right-icon ul li .yellow-circle{
    background: #FFDF00;
    width:20px;
    top:20px;
    border-radius: 50%;
    display: block;
    line-height: 20px;
    color: #000;
    padding: 0;
    text-align: center;
}

.banner-text{
    margin-top: 100px;
    
}
.banner-text h1{
    font-size: 62px;
    font-weight: 700;
}

.banner-text h1 span{
    display: block;
}

.banner-text p{
    font-size: 24px;
    margin-bottom: 5px;
}

.banner-text h1, .banner-text p{
    color: #fff;
}

.banner-buttons{
    margin-top: 20px;
}

.btn-buy{
    background: #FFDF00;
    color: #0E1EC9;
    font-size: 26px;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 35px;
    margin-right: 10px;
}

.btn-signin{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    border-color: #fff;
    border-radius:30px;
    padding: 0 35px;
}

.grand-prize{
    margin-bottom: 30px;
}

.banner-prizes{
    margin-top: 20px;
}

.prize-title{
    text-align: center;
    color: #0B7939;
    background-color: #fff;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 0;
    padding: 3px 0;
}

.prize-amount {
    text-align: center;
    margin-top: 0;
    color: #fff;
    background: #0B7939;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding:7px 0;
}

.prize-amount sup{
    font-size: 14px;
}

.banner-bottom-block{
    position: relative;
    z-index: 10;
    background: url(/images/background.png) 0 0 no-repeat;
    background-size: cover;
    margin-top: -150px;
    padding-top: 100px;
}

.youtube-text{
    color: #fff;
}

.youtube-text h6{
    font-size: 31px;
    margin-bottom: 0;
}

.youtube-text h4{
    font-size: 48px;
}

.draw-time{
    text-align: center;
    margin-top: 30px;
}

.draw-time h6{
    color:#FFDF00;
    font-size: 31px;
}

.draw-time h5{
    color:#fff;
    font-size: 31px;
}

.next-draw h6{
    font-size: 24px;
    color: #fff;
}

.time{
    border: 1px solid #fff;
    border-radius: 50%;
    width:86px;
    height:86px;
   color: #fff;
}

.section-2{
    margin-top: 60px;
}

.win-prize h2{
    color: #00B512;
    font-size: 62px;
    font-weight: 700;
}

.win-prize h3{
    color: #00B512;
    font-size: 40px;
    font-weight: 400;
}

.prize-headings{
    background-color: #007A33;
    margin-top: 40px;
    position: relative;
}
.prize-headings h4{
    margin-bottom: 0;
    padding: 0;
    font-size: 40px;
    color: #fff;
}

.prize-name{
    background-color: #00B512;
    border-radius: 50px;
    padding: 7px 0;
}
.prize-name h5{
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.prize-name h6{
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
    padding: 0;

}

.match-number{
    background-color: #00B512;
    border-radius: 50px;
    padding: 5px 0px;
    position: relative;
}

.match-height{
    min-height: 63px;
}

.match-img{
    position: absolute;
    /* bottom: -28px; */
    left: 0;
    right: 0;
    margin: 0 auto;
}

.match-number h6{
    font-size: 17px;
    margin-bottom: 0;
    color: #fff;
    padding: 0;
}
.win-amount{
    background-color: #0328C7;
    border-radius: 50px;
    padding: 13px 0px;
}
.win-amount h5{
    font-size: 31px;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
}

.terms p{
    color: #00B512;
    font-size: 21px;
}


.win-main-block{
    position: relative;
}

.match-image{
    position: absolute;
    right:0;
    top:73px;
}

.image-bar{
    background-color: #007A33;
    position: absolute;
    top:0;
    height:100%;
    right:-100px;
    width:100%;
    z-index: -1;
}

.match-image img{
    border-radius: 50px 0 0 50px;
}

.number-one{
    position: absolute;
    left: -6px;
    top: 131px;
    z-index: 10;
}

.card-main-block{
    position: relative;
}

.card-image-one{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.card-image-two{
    position: absolute;
    right:0;
    top: 0;
    z-index: 10;
}


.first-card{
    background: rgb(0,181,18);
    background: linear-gradient(90deg, rgba(0,181,18,1) 44%, rgba(0,122,51,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 50px;
    overflow: hidden;
    min-height: 440px;

}

.card-details{
    margin-left: 50px;
}

.card-heading{
    padding-top: 40px;
}
.card-heading h4{
    font-size: 39px;
    color: #fff;
    font-weight: 700;
}

.card-heading h6{
    font-size: 26px;
    color: #fff;
    font-weight: 400;
}

.card-desc p{
    color: #fff;
    font-size: 21px;
}

.card-desc p span{
    font-weight: bold;

}


.card-image {
     /* padding-top: 20px; */
}

.card-desc button{
    background-color: #0E1EC9;
    color: #fff;
    border: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 35px;
}

.second-card{
    background: url(../images/maradona.png) 0 0 no-repeat;
    background-size: cover;
    background-color: #00B512;
    border-radius: 50px;
    overflow: hidden;
    min-height: 440px;
}

.weekly-content{
    text-align: right;
    padding-right: 50px ;
}

.weekly-heading{
    padding-top: 40px;
}

.weekly-heading h4{
    font-size: 39px;
    color: #fff;
    font-weight: 700;
}
.weekly-heading h6{
    font-size: 26px;
    color: #fff;
}

.card-raffle p {
    color: #fff;
}

.card-raffle p span{
    font-weight: bold;
}


.card-raffle button{
    background-color: #0E1EC9;
    color: #fff;
    border: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 35px;
}

.fourth-section{
    background: url(../images/section-bg.png) 0 0 no-repeat;
    background-size: cover;
}

.recent-winners{
    margin-left:90px
}

.recent-winners h3 {
    color: #fff;
    font-size: 33px;
    font-weight: 700;
    margin-top: 50px;
}

.winners{
    background: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px 50px;
}

.winner-name {
    margin-right: 50px
}

.winner-name h5{
    margin: 0;
    color: #1A203D;
    font-size: 22px;
    font-weight: 700;
}

.winner-name p{
    margin: 0;
    color: #1A203D;
    font-size: 22px;
    font-weight: 400;
}


.winner-person img{
    border-radius: 50%;
}

.winner-button{
    background-color:#00B512 ;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    padding:1px 20px;
    margin-top: 18px;
}

.winner-item{
    margin-bottom: 10px;
}

.footer-outer{
    background: #007A33;
    padding: 20px 0;
}

.footer-links-outer{
    margin-left: 30px;
}
.footer-links li{
    margin-bottom:5px;
}

.footer-links li a{
    text-decoration: none;
    color: #fff;
}

.social-links a{
    padding:0;
    padding-right: 12px;
}

.social-links-outer{
    margin-left: 62px;
}

footer h6{
    color: #fff;
    font: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}

.phone span{
    color: #fff;
}

.email span{
color: #fff;
}

.footer-contact p{
    color: #fff;
    font-weight: bold;
    margin-top: 13px;
}


.copyright {
    border-top: 1px solid rgba(218, 218, 218, 0.5);
    padding-top: 20px;
}

.copyright p {
    color: #fff;
}


@media (max-width: 767px) {
    .header-nav-block{
        padding-right: 0px;
    position: relative;
    }

    #header-right-icon{
        margin-right: 69px;
        position: absolute;
        top: 21px;
        right: 16px;
    }

    .navbar-toggler{
        position: absolute;
        right: 0;
        top: 28px;
    }
}